$mono-font: 'Roboto Mono', monospace;
$sans-font: 'Jost', 'Futura', sans-serif;
$body-size: 1.6rem;
$primary-colour: #f70201;
$secondary-colour: #ffffff;
$mq-large: 80em;
$mq-medium: 60em;

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin vertical-middle ($height) {
    height: $height;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $primary-colour;
    color: $secondary-colour;
    font-family: $sans-font;
    font-size: $body-size;
    line-height: 1.4;

    @include vertical-middle(100vh);
}

section {
    max-width: 50em;

    @include mq($mq-medium) {
        width: 35em;
        font-size: 1rem;
    }
    p {
        font-family: $mono-font;
        font-size: 1.5em;
        margin: 1em 0 0 0;
    }
}