html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: var(--color-white);
    background-color: var(--color-brown);
    font-family: 'Jost', 'Futura', sans-serif;
    font-size: 1.6em;
    line-height: 1.4;
}