:root {
    --primary-color: #f70201;
    --text-on-light: #151620;
    --text-on-dark: #ffffff;
    --background-color: #ffffff;

    --main-spacing: 2.5em;
    --gap-spacing: 2em;
    --header-height: 4em;
    --hero-spacing: 12em;
    --centered-width: 50%;
}

@media (--mq-medium) {
    :root {
        --main-spacing: 2em;
        --gap-spacing: 1.6em;
        --hero-spacing: 6em;
        --centered-width: 75%;
    }
}

@media (--mq-small) {
    :root {
        --main-spacing: 2em;
        --hero-spacing: 5em;
    }
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--text-on-light);
}

header {
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    padding: 0 var(--main-spacing);
}

section.grid, section.centered {
    margin: var(--main-spacing)
}

section.hero {
    padding: var(--hero-spacing) 0;
    color: var(--text-on-dark);
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    text-align: center;

    background-image: image-set("img/rainbow.jpg" 1x, "img/rainbow@2x.jpg" 2x);
    background-size: cover;
    background-position: center;
}

section.hero h2 {
    margin-bottom: 0.5em;
}

section.hero.menu {
    background-image: image-set("img/green-wall.jpg" 1x, "img/green-wall@2x.jpg" 2x);
}

section.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-spacing);
    align-items: center;
}

section.grid p {
    margin: 1em 0;
}

section.grid img {
    width: 100%;
}

.button {
    display: inline-block;
    color: var(--text-on-dark);
    border: 1px solid var(--text-on-dark);
    padding: 0.75em 1.5em;
}

.button-full {
    background-color: var(--primary-color);
}

section.centered {
    text-align: center;
    max-width: var(--centered-width);
    margin-left: auto;
    margin-right: auto;
}

@media (--mq-small) {
    section.grid {
        grid-template-columns:  1fr;
    }

    header img {
        width: 8em;
    }

    .button {
        padding: 0.25em 0.75em;
    }
}